<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="test.permission"/>
    <!-- 调用wifiManager.disconnect()所需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="test.permission"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
         >
        <activity
            android:name="com.example.myapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.myapp1"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myapp.Calculate" />
        <activity 
            android:name="com.example.advanced.AidlTest"></activity>
        <activity 
            android:name="com.example.advanced.FragmentTest"></activity>
        <activity
            android:name="com.example.advanced.ContentFraActivity"></activity>
        <activity
            android:name="com.example.advanced.TestActivity"></activity>
        <activity
            android:name="com.example.advanced.MutilTouchDemoActivity"></activity>
        <activity
            android:name="com.example.myapp.ContactSampleListActivity"></activity>
        <activity
            android:name="com.example.myapp.LoaderThrottle"></activity>
        <service 
            android:name="com.example.myapp.PlayService"></service>
        <service
            android:name="com.example.advanced.Delay"
            android:process="com.example.service">
            <intent-filter >
                <action android:name="com.example.myapp2.IDelay"/>
            </intent-filter>
        </service>
        <receiver 
            android:name="com.example.myapp.MyReceiver">
            <intent-filter >
                <action android:name="com.example.action.MY_RECEIVER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <provider 
            android:name="com.example.myapp.SimpleProvider"
            android:authorities="com.example.android.apis.app.test"></provider>
        <activity
            android:name="com.example.update.SystemUpdateActivity"/>
        <service
            android:name="com.example.update.UpdateService"
            android:process=".updateService"/>
    </application>
    
</manifest>
